{:lambdas {:poll-all
           {:fn datomic.ion.rustic.lambdas/poll-all
            :description "poll all subscriptions"}
           :register-sub
           {:fn datomic.ion.rustic.http/register-sub-lambda-proxy
            :description "register sub lambda proxy"}}
 :app-name "datomic-4"}
